[General]
StartWithLastProfile={{ start_with_last | d(false) | ternary(1, 0) }}

{% for profile in profiles %}
[Profile{{ loop.index0 }}]
Name={{ profile.name }}
IsRelative={{ profile.is_relative | d(true) | ternary(1, 0) }}
Path=ansible.{{ profile.name }}
{% if profile.default | d(false) %}
Default=1
{% endif %}

{% endfor %}
